<html>

  <head>
  </head>

  <body>

    <ul>
    <%
    for(var i=0; i<list.length; i++) {
    %>
      <li><%= list[i].name %> / <%= list[i].date %> / <%= list[i].hour %> / <%= list[i].address %> <a href="/delete?indice=<%= i %>">Suppr</a> / <a href="/loadform?indice=<%= i %>">Modif</a></li>
    <%  
    }
    %>
    </ul>
    
    <form action="/add">
      Nom: <input type="text" name="name" value=""><br>
      Date: <input type="text" name="date" value=""><br>
      Heure <input type="text" name="hour" value=""><br>
      Lieu <input type="text" name="address" value=""><br>
      <input type="submit" value="valider">
    </form>
    
    <form action="/update">
      <input type="hidden" name="indice" value="<%= dataform.indice %>"><br>
      Nom: <input type="text" name="name" value="<%= dataform.name %>"><br>
      Date: <input type="text" name="date" value="<%= dataform.date %>"><br>
      Heure <input type="text" name="hour" value="<%= dataform.hour %>"><br>
      Lieu <input type="text" name="address" value="<%= dataform.address %>"><br>
      <input type="submit" value="valider">
    </form>

  </body>
  
</html>